.productos_nol {
	background: url("../img/produc-tampo-2.png") no-repeat;
    height: 246px;
    width: 90%;
    background-size: 100%;
    max-width: 393px;
    background-position: center;
    margin: 0 auto -4%;
    top: -50px;
}